body {
    background-image: url('https://cdn.nba.com/manage/2020/12/GettyImages-1196398279-784x441.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    text-shadow: 2px 2px 5px black;
}

body, h1, h2, label, p, .card {
    color: white !important; 
}

.container {
    padding-top: 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
}

input, button, select {
    margin: 5px 0;
}

.btn-custom {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #45a049;
}
